body{
  background-color: white;
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 16px;  
  grid-gap: 10px;
  padding: 10px;
}

ul li{
  font-size:16px;
  list-style-type: none;
  text-decoration: none;
 }

 ol li {
  text-align: left;
 }

.header { grid-area: header; }
.aside { grid-area: aside; }
.container { grid-area: container; }
.footer { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header '
    'container container container aside'
    'footer footer footer footer ';
  grid-gap: 5px;
  font-size: 16px;
  background-color: darkgray;
  padding: 5px;
 }
 
 a:link {
  text-decoration: none;
  align-items: start
}


 ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;    
}

.grid-container > div {
  background-color: white;
  text-align: left;
  padding: 10px ;
  font-size: 16px;
}

.header{
  display: grid;
  text-align: left;
  grid-template-areas:
    'Company-name Links Login';
  grid-gap: 5px;
  padding: 5px;
}

.container {
  display: grid;
  grid-template-columns: auto auto ;
  grid-gap: 10px;
  padding: 10px;
  text-align: center;
}

.container > div {
  text-align: center;
  padding: 20px;
  font-size: 16px;
}

.heading {
  grid-column: 1 / 2;
  
  }
  
 .text {
  grid-column: 1 / 3;
  background-color: lightgray;
  }
  
  .article1 {
    background-color: lightgray;
    grid-column: 1/2    
  }
   
  
  .article2{
    background-color: lightgray;
    grid-column: 2/2;
  }

  .login-container{    
    display: grid;
    grid-template-areas:
    'header'
    'Login'
    'myform'
    'footer';
    grid-gap: 5px;
    font-size: 16px;
    background-color: darkgray;
    padding: 5px;
}

.headline
{
  text-align: left;
}
      
  .login-container > div {
    background-color: white;
    text-align: left;
    padding: 10px ;
    font-size: 16px;
  }
  
  .login-header{
    display: grid;
    background-color: white;
    grid-template-areas:
      'Company-name Links Index';
    grid-gap: 5px;
    padding: 5px;      
  }  

  .myform-container {
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    gap: 0px 0px;
    grid-template-areas:
      "Login . . "
      "myform myform myform "
    
      
  }
  .LoginHeader { 
    grid-area: Login;
    border-radius: 25px;
    text-transform: uppercase;
          
   }

  .myform { 
    grid-area: myform; 
    border-radius: 10px;
    background: lightgray;
    padding: 5%
    font-weight: normal
  }

  .reset {
    background-color: #f44336;
    color: white;
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 70%;
  
  }

  .submit {
    background-color: #00994C;
    color: white;
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 70%;
    color: black;
    
  }
  
  button:hover {
    opacity: 0.8;
  }

  .reset {
    border-radius: 70%;
  }

  
  footer{
    background-color: white;
    padding-bottom: 0px;
    text-align: center;
  }

    
    